.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  background-color: antiquewhite;
  width: 100%;
}

.div{
  display: inline-block;
  background-color: red;
}

.box1 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

.box2 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

.box3 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

.box4 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

.box5 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  text-align: justify;
}

.box6 {
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  text-align: justify;
}